{% extends 'news/default.html' %}

{% block title %}Профиль{% endblock %}

{% block header %}Мой профиль{% endblock %}

{% block content %}
  <h2>Профиль пользователя</h2>
  <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
  <p><strong>Имя:</strong> {{ user.first_name }}</p>
  <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>

  <!-- Группы пользователя -->
  <p>
    {% if user.groups.count > 0 %}
      {% with user_groups=user.groups.all|join:", " %}
        {% if 'premium' in user_groups %}
          <strong>Статус:</strong> Premium
        {% else %}
          <strong>Статус:</strong> Basic
        {% endif %}
      {% endwith %}
    {% else %}
      <strong>Статус:</strong> Basic
    {% endif %}
  </p>

<!-- Тип пользователя -->
<p>
  {% if user.groups.count > 0 %}
    {% with user_groups=user.groups.all|join:", " %}
      {% if 'authors' in user_groups %}
        <strong>Тип пользователя:</strong> Author
      {% else %}
        <strong>Тип пользователя:</strong> Reader
      {% endif %}
    {% endwith %}
  {% else %}
    <strong>Тип пользователя:</strong> Reader
  {% endif %}
</p>


  <p><strong>Активен:</strong> {% if user.is_active %}Да{% else %}Нет{% endif %}</p>
  <p><strong>Суперпользователь:</strong> {% if user.is_superuser %}Да{% else %}Нет{% endif %}</p>

  <a href="{% url 'password_change' %}" class="btn btn-primary">Поменять пароль</a>
  <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Редактировать профиль</a>
{% endblock %}
