{% extends 'news/default.html' %}

{% block title %}Удаление статьи{% endblock %}

{% block header %}УДАЛЕНИЕ СТАТЬИ{% endblock %}

{% block content %}
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-4">
            <label for="title">Название статьи</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}" readonly>
        </div>

        <div class="form-group mb-4">
            <label for="author">Автор</label>
            <input type="text" class="form-control" id="author" name="author" value="{{ item.author }}" readonly>
        </div>

        <div class="form-group mb-4">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" name="content" rows="6" readonly>{{ item.content }}</textarea>
        </div>

        <div class="form-group mb-4">
            <label for="publication_date">Дата публикации</label>
            <input type="text" class="form-control" id="publication_date" name="publication_date" value="{{ item.publication_date|date:"d.m.Y" }}" readonly>
        </div>

        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
{% endblock %}
